body {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item-name {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;

  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 16px;
}

.item {
  list-style: none;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.gallery {
  display: flex;
  flex-wrap: wrap;

  gap: 10px;
}

.gallery img {
  width: 360px;
  height: auto;
  display: block;
}

.input-text {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.login-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;

  width: 360px;
  height: 152px;
}

.btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;

  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.btn:hover {
  background: #6c8cff;
}

.change-color {
  border-radius: 8px;
  padding: 8px 16px;
  width: 148px;

  background: #4e75ff;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
.change-color:hover {
  background: #6c8cff;
}
